div.box{
    width: 400px;
    height: 500px;
    font-size: 25px;
    border: 10px solid gold;
    border-radius: 30px;
    padding: 30px;
    font-family: 'Jua';
}

div.box2{
    width: 400px;
    height: 300px;
    font-size: 25px;
    border: 10px solid palevioletred;
    border-radius: 30px;
    padding: 30px;
    font-family: 'Nanum Pen Script';
    margin-top: 20px;
}