<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="data.dao.MemoDao">
	<insert id="insertMemo" parameterType="MemoDto">
		insert into memodb values (null, #{nickname}, #{photo}, #{memo}, 0, now());
	</insert>
	<select id="selectAllMemos" resultType="MemoDto">
		select * from memodb order by num desc;
	</select>
	<delete id="deleteMemo" parameterType="int">
		delete from memodb where num=#{num};
	</delete>
	<update id="updateLikesByNum" parameterType="int">
		update memodb set  likes = likes + 1 where num=#{num};
	</update>
	<select id="countLikes" parameterType="int" resultType="int">
		select likes from memodb where num=#{num};
	</select>
</mapper>