<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="data.dao.PhotoDao">
	<insert id="insertPhoto" parameterType="PhotoDto">
		insert into photodb values (null, #{title}, #{photo}, #{photo80}, #{photo150}, now());
	</insert>
	<select id="selectAllPhotos" resultType="PhotoDto">
		select * from photodb order by num desc;
	</select>
	<delete id="deletePhoto" parameterType="int">
		delete from photodb where num=#{num};
	</delete>
</mapper>