.main {
    margin: 30px;
}

ul.menu {
    list-style: none;
}

ul.menu li {
    float: left;
    width: 100px;
    height: 60px;
    line-height: 60px;
    border: 2px solid gray;
    margin-right: 5px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    background-color: bisque;
}

ul.menu li:hover {
    background-color: aquamarine;
}

ul.menu li a {
    text-decoration: none;
    color: black;
}

ul.menu li a:hover {
    color: red;
}