<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
      PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
      "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="mini.dto.MemberDto" alias="MemberDto"/>
		<typeAlias type="mini.dto.BoardDto" alias="BoardDto"/>
		<typeAlias type="mini.dto.BoardFileDto" alias="BoardFileDto"/>
		<typeAlias type="mini.dto.BoardAnswerDto" alias="BoardAnswerDto"/>
		<typeAlias type="mini.dto.GuestDto" alias="GuestDto"/>
	</typeAliases>
</configuration>