ul.menu {
    list-style: none;
}

ul.menu li {
    float: left;
    width: 150px;
    height: 60px;
    line-height: 60px;
    border: 1px solid black;
    text-align: center;
    font-size: 22px;
    margin-right: 10px;
    border-radius: 10px;
}

ul.menu li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

ul.menu li:hover {
    background-color: darkcyan;
    box-shadow: 5px 5px 5px gray;

}

ul.menu li a:hover {
    color: aliceblue;
}